#container {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    border: 1px solid grey;
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#grid-column {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.buttons {
    margin: 0 auto;
    width: 100px;
    height: 50px;
}

button {
    height: 100%;
    width: 100px;
    background: white;
    border: 1px solid grey;
    border-radius: 4px;
}

button:hover {
    background: black;
    border: 0;
    color: white;
    cursor: pointer;
}
