body {
    margin: 0;
}

.main-container {
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 25px;
    height: 90vh;
    width: 500px;
    margin-top: 5vh;
    box-sizing: border-box; 
}